@{
  Layout = "_Layout";
}
@using University.Models;
@model University.Models.Student;
<h2>Student Details</h2>
<hr />
<h3> @Html.DisplayFor(model => model.StudentName)</h3>
<h4> @Html.DisplayFor(model => model.DateofEnroll)</h4>
@if (@Model.Courses.Count == 0)
{
  <p>This student is not enrolled in any courses yet</p>
}
else
{
  <h4>Enrolled courses:</h4>
  <ul>
    @foreach (var join in Model.Courses)
    {
      if (!join.Complete)
      {
        @using (Html.BeginForm("DeleteCourse", "Students"))
        {
          @Html.Hidden("studentId", @Model.StudentId)
          @Html.Hidden("joinId", @join.EnrollmentId)
          <li>@join.Course.CourseName | @join.Course.CourseNumber </li>
        }
        @using (Html.BeginForm("CompleteCourse", "Students"))
        {
          @Html.Hidden("studentId", @Model.StudentId)
          @Html.Hidden("joinId", @join.EnrollmentId)
          <input type="submit" value="Complete" /><input type="submit" value="Remove" />
        }
      }
    }
  </ul>
}
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)
  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")
  <input type="submit" value="Add" />
}

<h4>Completed Courses</h4>
@foreach (var join in Model.Courses)
{
  <ul>
    @if (join.Complete)
    {
      <li>@join.Course.CourseName | @join.Course.CourseNumber </li>
    }
  </ul>
}



<button>@Html.ActionLink("Back to students", "Index")</button>
<button>@Html.ActionLink("Edit student", "Edit", new { id = Model.StudentId })</button>
<button>@Html.ActionLink("Delete student", "Delete", new { id = Model.StudentId })</button>